VITE_API_BASE_URL=http://localhost:5000/api
VITE_BKASH_NUMBER=
VITE_NAGAD_NUMBER=
VITE_ROCKET_NUMBER=
VITE_TAP_NUMBER=
VITE_UPAY_NUMBER=
VITE_BANK_NAME=
VITE_BANK_ACCOUNT_NAME=
VITE_BANK_ACCOUNT_NUMBER=
VITE_BANK_BRANCH=
VITE_BANK_ROUTING_NUMBER=
