VITE_API_BASE_URL=http://localhost:5000/api
VITE_BKASH_NUMBER=+8801710071135
VITE_NAGAD_NUMBER=+8801710071135
VITE_ROCKET_NUMBER=+88017100711358
VITE_TAP_NUMBER=+8801710071135
VITE_UPAY_NUMBER=+8801710071135
VITE_BANK_NAME=Bank Asia
VITE_BANK_ACCOUNT_NAME=Md. Harun Ar Rashid
VITE_BANK_ACCOUNT_NUMBER=068340000150
VITE_BANK_BRANCH=Mohadevpur Branch, Naogaon
VITE_BANK_ROUTING_NUMBER=Optional Routing Number
